* {
    background-color: #FBEAFF;
}

.plastico {
    color: red;
}

.metal {
    color: rgb(233, 233, 34);
}

.papel {
    color: blue;
}

.vidro {
    color: green;
}

.organico {
    color: brown;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filtroButton,
.cadastrar,
#coletaButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    padding: 5px 10px;
    background-color: #9dff00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 100px;
}

#cadastroForm {
    margin-bottom: 30px;
}

#listaDicas {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

span {
    margin-bottom: 10px;
}

#filtroButton {
    margin-left: 10px;
}

#horariosColeta {
    margin-top: 20px;
}

.cadastrar {
    margin-left: 10px;
}